[Desktop Entry]
Version=1.0
Type=Application
Name=cuteUSB
Comment=GUI USB device viewer
Exec=/home/au/viusb/build/usb_viewer
Icon=/home/au/viusb/icon-512.png
Terminal=false
Categories=Utility;System;
StartupNotify=true
